.sm-buttons {
	float: right;
	position: relative;
}

.sm-button-list ul {
	list-style: none;
	position: relative;
}

.sm-button-list li {
	display: inline-block;
	float: left;
	margin: 0 0 0 10px;
	position: relative;
}