.sm-buttons {
	float: right;
	position: relative;
}

.sm-button-list ul {
	list-style: none;
	position: relative;
}

.sm-button-list li {
	display: inline-block;
	float: left;
	margin: 0 0 0 10px;
	position: relative;
}

a+em {
	display: block;
	margin: -10px 0 0 0;
	font-size: 70%;
}

img+em {
	display: block;
	margin: -10px 0 0 0;
	font-size: 70%;
}