---
layout: default
---

<div class="post">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-title">{{ page.subtitle }}</p>
    <span class="post-date">{{ page.date | date_to_string }}
    <ul class="tag-box inline" style="float:right;font-size:0.7em">
    {% capture tags %}
    {% for tag in page.tags %}
    {{ tag }}
    {% endfor %}
    {% endcapture %}
    {% assign sortedtags = tags | split:' ' | sort %}

    {% for tag in sortedtags %}
    <li><a href="/tags#{{ tag | cgi_escape }}">{{ tag | replace:'_',' ' }}</a></li>
    {% endfor %}
    </ul></span>
    {{ content }}

	<br/>

	<!--
	<div class="sm-buttons">
		<ul class="sm-button-list">
			<li>
				<a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false"/>
				</a>
				<script async src="//platform.twitter.com/widgets.js" charset="utf-8">
				</script>
			</li>
			<li>
				<script src="//platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
				<script type="IN/Share"></script>
			</li>
		</ul>
	</div>

	<br/><br/>
    {% include comments.html %}
    -->
    <hr>
    <p style="font-size: 80%;">
    
		Want to share or discuss? Paste the post url into your
		social media platform of choice. I don't want to
		include a load of tracker buttons (apart from Google
		Analytics) here. My social media <a href="{{
		"/about/index.html" | absolute_url }}">links</a>.

    </p>
    
    {% include ga.html %}
    
</div>

